.rootPanel{
  width:100%;
  height:100%;
}

#pathSel{
  width:250px;
  border:solid 2px rgba(0, 0, 0, 0.75);
  position:relative;
  left:calc(50% - 125px);
  border-radius:10px;
}

#typeOption{
  width:200px;
  left:24px;
  position:relative;
  text-align:center;
  font-size:19px;
  background-color:rgb(165,67,67);
  color:white;
  margin-top:5px;

}

#fileOption{
  width:200px;
  left:24px;
  position:relative;
  text-align:center;
  font-size:19px;
  background-color:rgb(165,67,67);
  color:white;
  margin-top:5px;
  margin-bottom:5px;
}

.dragNDrop{

  height: 95%;
  border: dashed 2px black;
  display: inline;
  float:left;
  margin-left:1.5%;
  border-radius: 10px;
  margin-top:5px;
}

.onHover{
  border: dotted 2px black;
}

.hiddenFileSelect{
  width:0px;
  height:0px;
  overflow:hidden;
  position:absolute;
}

#buttonHouse{
  background-color: lightgrey;
  width: 90%;
  height:65%;
  left:5%;
  position:relative;
  border-radius: 10px;
  margin-top:10px;

}
