#frame{
	background-color:blue;
	width: 200px;
	height:200px;
}

canvas{
	width:100%;
	height:100%:
}


.buttonGroup{
	background-color: rgb(230, 230, 230);
	color: black;
	width: calc(49% - 1px);
	height:30px;
	float:left;
	display:inline;
	margin:0px;
	text-align: center;
	line-height: 30px;
	cursor:pointer;
}

#info{
	width: 95%;
	background-color: lightgray;
	min-height: 25px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	top: 35px;

}

#info-title{
	color:black;
	margin-left:auto;
	margin-right: auto;
	border-bottom: 1px solid black;
	text-align: center;
}

#loadedFiles-names-list{
	margin-top: 3px;
	list-style-type: none;
	padding-left: 0px;
}

#tabContainer{
	list-style-type:none;
	margin-left:0px;
	padding-left: 0px;
	margin-bottom: 0px;
}

.tab{
	width:33%;
	display:inline-block;
	text-align: center;
	border-right:1px solid black;
	border-left:1px solid black;
	margin-right: -5px;
	height:20px;
}

.inactiveTab{
	background-color:gray;
	border-bottom:1px solid black;
}

#viewsTab{
	border-left:none;
}

.textSpan{
	display: inline-block;
	margin-left: 3px;
	width:140px;
	overflow: hidden;
}

.inputRadio{
	float:right;
}

#infileBut{

}
#layerBut{

}

#popup{
	width: 60%;
	min-width: 300px;
	height: 80%;
	min-height: 280px;
	background-color:#0c0f0f;
	position:absolute;
	z-index: 5;
	left:calc(20% + 15px);
	top:10%;
	border-radius: 3px;
	border: 1px solid paleturquoise;

}

#listSupport{
	position:absolute;
	width:94%;
	left: 3%;
	top: 2%;
	height: calc((100% - 46px) - 2%);
	overflow-y: scroll;
}

#selectionList{
	list-style:none;
	padding:0px;

}

.selections{
	color: white;
	height: 22px;
	text-align:center;
	height:31px;
	font-size:18px;
	text-align: center;
	line-height: 30px;
	opacity:.7;
	cursor: pointer;
}

.selected{
	opacity: .9;
	border:solid 3px paleturquoise;
}

li.selections:nth-child(odd){
	background-color: rgb(173,173,173);
}
li.selections:nth-child(even){
	background-color: rgb(91, 91, 91);
}



#popLoad{
	width: 100px;
	height: 30px;
	position: absolute;
	bottom: 5px;
	right: 110px;
	opacity:.5;
	cursor: pointer;
}

#popCancel{
	width: 100px;
	height: 30px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	opacity: .5;
	cursor:pointer;
}

#buttonPanel{
	width:100%;
	bottom:0px;
	position:absolute;
}

.buttonGroup{
	border: 1px solid black;
	cursor:pointer;
}

#menu{
	z-index: 3;
	position:absolute;
	top:0px;
	left: 0px;
	background-color: black;
	opacity: .5;
	width: 20%;
	height: 100%;
	border-right: solid paleturquoise;
	min-width: 215px;
}

#infile{
	left:calc(50% - 42px);
	position: absolute;
	width: 78px;
	height:20px;
	top:calc(60% - 10px);
}

#close{
	position: absolute;
	right:1px;
	top:3px;
	border-radius:20px;
}

#gear{
	width:22px;
	height:22px;
	left:1px;
	position:relative;
	top:1px;
}

#optionsButton{
	position: absolute;
	left: 1px;
	top:3px;
	border-radius: 12px;
	width: 24px;
	height: 24px;
	background-color: lightgray;
	border:1px solid gray;
}

#panelButton{
	position: absolute;
	width: 24px;
	height:24px;
	border-radius:12px;
	right:1px;
	top:3px;
	background-color:lightgray;
	border:1px solid gray;
}

#leftArrow{
	width: 20px;
	top: 2px;
	position:relative;
}

#optionsList{
	list-style: none;
	color: white;
}

#optionsList	li{
	margin-bottom: 5px;
}

#optionsList input{
	position:relative;
	left: 10px;
}

#rightArrow{
	display:none;
	width: 20px;
	top: 2px;
	left:3px;
	position:relative;
}

#details{
	color: white;
	text-align: center;
}

#infile{

}

.loading{
		cursor:wait;
}

/*Time Slider Start------------------------------------------------------*/
div#timeSlide{
	position:absolute;
	height: calc(100% - 60px);
	top: 44px;
	left: calc(100% + 10px);
}

.dateIndicator{
	width: 155px;
	left:calc(100% + 35px);
	background-color: black;
	position:absolute;
	color:white;
	text-align: center;
	border-radius: 3px;
}



/*Time Slider End -------------------------------------------------------*/
